/*RESET BÁSICO*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f3e8ff;
  color: #333;
  line-height: 1.6;
  font-size: 15px;
}


.container {
  width: 85%;
  max-width: 1100px;
  margin: 30px auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

header {
  background-color: #f7f7f7;
  border-bottom: 2px solid #ce9ffc;
  padding: 20px;
  margin-bottom: 25px;
}

header .profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px; /* distancia entre texto e imagen */
}


header img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


header h1 {
  font-size: 2.em;
  font-weight: 700;
  color: #222;
}

header h2 {
  font-size: 1em;
  margin: 6px 0 15px;
  color: #666;
  font-weight: 500;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 0.95em;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* LAYOUT DOS COLUMNAS */
.layout {
  display: grid;
  grid-template-columns: 1fr 2fr; /* izquierda / derecha */
  gap: 25px;
}

/* Columna izquierda */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Columna derecha */
.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  background: #fafafa;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 4px solid #ce9ffc;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

/* TiTULOS DE SECCIÓN*/
.card h3 {
  display: inline-block;
  padding: 6px 16px;
  background: #d4b2f8;
  color: #222;
  border-radius: 999px;
  font-size: 1.1em;
  margin-bottom: 12px;
}

.profile h3 {
  display: inline-block;
  padding: 6px 16px;
  background: #d4b2f8;
  color: #222;
  border-radius: 999px;
  font-size: 1.1em;
  margin-bottom: 12px;
}

/* LISTAS */
ul {
  list-style: none;
}

ul li {
  margin: 7px 0;
  padding-left: 22px;
  position: relative;
}

ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #d7b7f9;
  font-size: 0.85em;
}


.reference {
  background: #fdfdfd;
  border-left: 4px solid #d6bbf4;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.reference b {
  color: #222;
}

footer {
  border-top: 2px solid #eaeaea;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}


@media (max-width: 768px) {

  /* Pasa a una sola columna en pantallas pequeñas */
  .layout {
    grid-template-columns: 1fr;
  }

  header .profile {
    flex-direction: column;
    text-align: center;
  }

  header img {
    width: 150px;
    height: 150px;
  }

  .contact {
    align-items: center;
  }
}
